@model HealthTrustProject.Contacts
@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="target" class="jumbotron">
    @using (Ajax.BeginForm("Update", "Contacts", FormMethod.Post, new AjaxOptions { OnSuccess = "successPublish", OnFailure = "failedPublish" }, new { id = "contactsInsert", name = "contactsInsert", @class = "formma", UpdateTargetId = "target" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <h2>Update Contact</h2>
        <ul>
            <li class="liInsert">First Name</li>
            <li class="liInsert">Last Name</li>
            <li class="liInsert">Email Address</li>
            <li class="liInsert">Birth Date</li>
            <li class="liInsert">Num of Computers</li>
        </ul>
        <ul>
            <li class="liInsert">@Html.TextBoxFor(Model => Model.FirstName, new { @class = "form-control", @style = "background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAAAXNSR0IArs4c6QAAALZJREFUOBFjYKAANDQ0rGWiQD9IqzgL0BQ3IKMXiB8AcSKQ/waIrYDsKUD8Fir2pKmpSf/fv3+zgPxfzMzMSbW1tbeBbAaQC+b+//9fB4h9gOwikCAQTAPyDYHYBciuBQkANfcB+WZAbPP37992kBgIUOoFBiZGRsYkIL4ExJvZ2NhAXmFgYmLKBPLPAfFuFhaWJpAYEBQC+SeA+BDQC5UQIQpJYFgdodQLLyh0w6j20RCgUggAAEREPpKMfaEsAAAAAElFTkSuQmCC');background-repeat: no-repeat;background-attachment: scroll;background-size: 16px 18px;background-position: 98 % 50 %;cursor: auto;" })</li>
            <li class="liInsert">@Html.TextBoxFor(Model => Model.LastName, new { @class = "form-control", @style = "background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAAAXNSR0IArs4c6QAAALZJREFUOBFjYKAANDQ0rGWiQD9IqzgL0BQ3IKMXiB8AcSKQ/waIrYDsKUD8Fir2pKmpSf/fv3+zgPxfzMzMSbW1tbeBbAaQC+b+//9fB4h9gOwikCAQTAPyDYHYBciuBQkANfcB+WZAbPP37992kBgIUOoFBiZGRsYkIL4ExJvZ2NhAXmFgYmLKBPLPAfFuFhaWJpAYEBQC+SeA+BDQC5UQIQpJYFgdodQLLyh0w6j20RCgUggAAEREPpKMfaEsAAAAAElFTkSuQmCC');background-repeat: no-repeat;background-attachment: scroll;background-size: 16px 18px;background-position: 98 % 50 %;cursor: auto;" })</li>
            <li class="liInsert">@Html.TextBoxFor(Model => Model.EmailAddress, new { @class = "form-control", @style = "background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAAAXNSR0IArs4c6QAAALZJREFUOBFjYKAANDQ0rGWiQD9IqzgL0BQ3IKMXiB8AcSKQ/waIrYDsKUD8Fir2pKmpSf/fv3+zgPxfzMzMSbW1tbeBbAaQC+b+//9fB4h9gOwikCAQTAPyDYHYBciuBQkANfcB+WZAbPP37992kBgIUOoFBiZGRsYkIL4ExJvZ2NhAXmFgYmLKBPLPAfFuFhaWJpAYEBQC+SeA+BDQC5UQIQpJYFgdodQLLyh0w6j20RCgUggAAEREPpKMfaEsAAAAAElFTkSuQmCC');background-repeat: no-repeat;background-attachment: scroll;background-size: 16px 18px;background-position: 98 % 50 %;cursor: auto;" })</li>
            <li class="liInsert">@Html.TextBoxFor(Model => Model.Birthdate, new { @class = "form-control", @style = "background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAAAXNSR0IArs4c6QAAALZJREFUOBFjYKAANDQ0rGWiQD9IqzgL0BQ3IKMXiB8AcSKQ/waIrYDsKUD8Fir2pKmpSf/fv3+zgPxfzMzMSbW1tbeBbAaQC+b+//9fB4h9gOwikCAQTAPyDYHYBciuBQkANfcB+WZAbPP37992kBgIUOoFBiZGRsYkIL4ExJvZ2NhAXmFgYmLKBPLPAfFuFhaWJpAYEBQC+SeA+BDQC5UQIQpJYFgdodQLLyh0w6j20RCgUggAAEREPpKMfaEsAAAAAElFTkSuQmCC');background-repeat: no-repeat;background-attachment: scroll;background-size: 16px 18px;background-position: 98 % 50 %;cursor: auto;" })</li>
            <li class="liInsert">@Html.TextBoxFor(Model => Model.NumberOfComputers, new { @class = "form-control", @style = "background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAAAXNSR0IArs4c6QAAALZJREFUOBFjYKAANDQ0rGWiQD9IqzgL0BQ3IKMXiB8AcSKQ/waIrYDsKUD8Fir2pKmpSf/fv3+zgPxfzMzMSbW1tbeBbAaQC+b+//9fB4h9gOwikCAQTAPyDYHYBciuBQkANfcB+WZAbPP37992kBgIUOoFBiZGRsYkIL4ExJvZ2NhAXmFgYmLKBPLPAfFuFhaWJpAYEBQC+SeA+BDQC5UQIQpJYFgdodQLLyh0w6j20RCgUggAAEREPpKMfaEsAAAAAElFTkSuQmCC');background-repeat: no-repeat;background-attachment: scroll;background-size: 16px 18px;background-position: 98 % 50 %;cursor: auto;" })</li>
        </ul>
        <ul>
            <li class="liInsert">@Html.ValidationMessageFor(model => model.FirstName, "Enter First Name", new { @class = "text-danger" })  </li>
            <li class="liInsert">@Html.ValidationMessageFor(model => model.LastName, "Enter Last Name", new { @class = "text-danger" })  </li>
            <li class="liInsert">@Html.ValidationMessageFor(model => model.EmailAddress, "Enter Email Address", new { @class = "text-danger" })  </li>
            <li class="liInsert">@Html.ValidationMessageFor(model => model.Birthdate, "Enter Birth Date", new { @class = "text-danger" })  </li>
            <li class="liInsert">@Html.ValidationMessageFor(model => model.NumberOfComputers, "Enter Number of Computers", new { @class = "text-danger" })  </li>
        </ul>
        <div style="width:100%;height:auto;overflow:hidden;margin:0px auto;float:none;text-align:center;">
            <input type="submit" id="btnSubmit" value="Update Record" />
        </div>
    }
</div>

<script type="text/javascript" src="~/Scripts/PublishMessage.js">
</script>

